In [3]:
f=open(file="try.txt",mode="r")
content=f.read()
print(content)
f.close()

hello world
my name is harry potter

In [8]:
with open(file="try.txt",mode='r') as f:
    content=f.read()
    print(content)
    print(type(content))

hello world
my name is harry potter

<class 'str'>

In [13]:
# no of words in a text file
with open(file="try.txt",mode='r') as f:
    content=f.read()
    # no=len(content) it was mine idea
    # print(content,no)
    # sirs idea
    print(len(content.split()))

7

In [23]:
# to count the no of words in a text file
aDict={}
with open(file="try.txt",mode='r') as f:
    content=f.read().lower()
    words=content.split()
    for word in words:
        if word not in aDict:
            aDict[word]=1
        else:
            aDict[word]+=1
        
print(aDict)

{'hello': 1, 'world': 1, 'my': 1, 'name': 1, 'is': 3, 'harry': 1, 'potter': 1}

In [ ]:
aDict={}
with open(file="try.txt",mode='r') as f:
    content=f.readline()
    for line in lines:
        if line not in aDict:
            aDict[line]=1
        else:
            aDict[line]+=1
        
print(aDict)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1, '\n': 1}

In [4]:
with open(file="new.txt",mode="w") as f:
    while(True):
        input_text=input("entrer some texts")
        if (input_text=='Q' or input_text=='q'):
            break
        f.write(input_text)
        f.write('\n')

In [7]:
import csv
with open(file="file.csv", mode='r') as f:
    content=csv.reader(f)
    for row in content:
        print(row)

['Name', 'Address', 'Age']
['ram', 'dharan', '21']
['John', ' biratnagar', '20']

In [10]:
import csv
with open(file="file.csv", mode='r') as f:
    content=csv.DictReader(f)
    for row in content:
        print(row["Name"]," ",row["Address"]," ",row["Age"])

ram   dharan   21
John    biratnagar   20

In [31]:
import csv
data=[
    ['Name','Address','Age'],
    ['ram','dharan',21],
    ['John','biratnagaghgr',20],
    ['Name','Address','Age'],
    ['ram','dharan',21],
    ['John','biratnagar',20],
    ]
with open(file="new.csv", mode='w',newline='') as f:
    writer=csv.writer(f)
    writer.writerows(data)

In [37]:
import csv
data=[
    {'Name':'ram','Address':'biratnager','Age':21},
    {'Name':'sita','Address':'dharan','Age':21},
    {'Name':'John','Address':'pokhara','Age':19},
    ]
with open(file="new.csv", mode='w',newline='') as f:
    writer=csv.DictWriter(f,fieldnames=['Name','Address','Age'])
    writer.writeheader()
    writer.writerows(data)

In [44]:
import pandas as pd
df=pd.read_csv("new.csv")
print(df)
print(df.info())
df['Age']

   Name     Address  Age
0   ram  biratnager   21
1  sita      dharan   21
2  John     pokhara   19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Address  3 non-null      object
 2   Age      3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

0    21
1    21
2    19
Name: Age, dtype: int64

In [47]:
df['Province']='koshi'
print(df)

   Name     Address  Age Province
0   ram  biratnager   21    koshi
1  sita      dharan   21    koshi
2  John     pokhara   19    koshi

In [49]:
df.to_csv("newnew.csv",index=False)

In [60]:
# if we dont have dataframe
df=pd.DataFrame([
    {"Rollno":1,"Name":"Ram","Eng":80,"math":81,"science":82},
    {"Rollno":2,"Name":"shyam","Eng":79,"math":80,"science":83}
])
df['total']=df["Eng"]+df["math"]+df["science"]
df['percentage']=df["total"]/4
df

df.to_csv("task.csv",index=False)