Reading json file

In [73]:
import json
from pprint import pprint
with open("data.json", mode='r') as f:
    content=json.load(f)

print(content)

{'name': 'hari', 'age': '12', 'skills': ['ML', 'ai']}

In [74]:
data={
    "name":"hari",
    "age":"12",
    "skills":["ML","ai"]
}
with open("data.json", mode='w') as f:
    content=json.dump(data,f,indent=4)

print(content)

None

In [83]:
import sqlite3
conn=sqlite3.connect("example.db")
cursor=conn.cursor()

In [76]:
#create a table
cursor.execute("""
        CREATE TABLE IF NOT EXISTS students(
               id INTEGER PRIMARY KEY,
               name TEXT,
               age INTEGER,
               address TEXT
               ) 
               """)

In [77]:
#insert data
cursor.execute("INSERT INTO students (name,age,address) VALUES(?,?,?)",("Ram",25,"Biratnagar"))
conn.commit()

In [78]:
cursor.execute("INSERT INTO students (name,age,address) VALUES(?,?,?)",("Ram",25,"Biratnagar"))
cursor.execute("INSERT INTO students (name,age,address) VALUES(?,?,?)",("Ram",25,"pokhara"))
cursor.execute("INSERT INTO students (name,age,address) VALUES(?,?,?)",("Ram",25,"dharan"))
conn.commit()

In [79]:
#query
cursor.execute("SELECT * FROM students")
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ram', 25, 'Biratnagar')
(2, 'Ram', 25, 'Biratnagar')
(3, 'Ram', 25, 'pokhara')
(4, 'Ram', 25, 'dharan')

In [ ]:
cursor.execute('SELECT * FROM students WHERE address="dharan" or address="Biratnagar"')
rows=cursor.fetchall()
for row in rows:
    print(row)
conn.close()

In [90]:
from sqlalchemy import create_engine
engine=create_engine('sqlite:///mydb.db',echo=True)
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

In [91]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer,String

Base=declarative_base()
class Student(Base):
    __tablename__='students'
    id=Column(Integer,primary_key=True)
    name=Column(String)
    age=Column(Integer)
#create the table
Base.metadata.create_all(engine)

2025-12-29 13:25:34,634 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:25:34,636 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2025-12-29 13:25:34,637 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-29 13:25:34,640 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\tonys\AppData\Local\Temp\ipykernel_16916\4051322832.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base=declarative_base()

In [93]:
from sqlalchemy.orm import sessionmaker
Session=sessionmaker(bind=engine)
Session=Session()

In [101]:
#adding data
student1=Student(name='ram',age=25)
student2=Student(name='shyam',age=26)
Session.add(student1)
Session.add(student2)
Session.commit()

2025-12-29 13:34:31,342 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:34:31,343 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:34:31,344 INFO sqlalchemy.engine.Engine [cached since 142.1s ago (insertmanyvalues) 1/2 (ordered; batch not supported)] ('ram', 25)
2025-12-29 13:34:31,347 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:34:31,348 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('shyam', 26)
2025-12-29 13:34:31,349 INFO sqlalchemy.engine.Engine COMMIT

In [102]:
#get all studnets
Students=Session.query(Student).all()
for s in Students:
    print(s.name,s.age)

2025-12-29 13:35:45,326 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:35:45,334 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age
FROM students
2025-12-29 13:35:45,335 INFO sqlalchemy.engine.Engine [generated in 0.00153s] ()
ram 25
shyam 26
ram 25
shyam 26
ram 25
shyam 26
ram 25
shyam 26
ram 25
shyam 26
ram 25
shyam 26
ram 25
shyam 26