In [1]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017")

In [2]:
db=client["school"]
collection=db["students"]
#insert a single document
student={"name":"Alice","age":25,"subject":["maths","science"]}
collection.insert_one(student)
print(client.list_database_names())

['admin', 'config', 'local', 'school']

In [3]:
#insert a singel documents
student={"name":"Alice","age":25,"subjects":["Math","science"]}
collection.insert_one(student)

InsertOneResult(ObjectId('6957e2685baccc3764b4f0f1'), acknowledged=True)

In [4]:
many_students=[
    {"name": "Ram", "age":18, "subjects":["Math", "Science"]},
    {"name": "Shyam", "age":27, "subjects":["Math", "Science"]}
]
collection.insert_many(many_students)

InsertManyResult([ObjectId('6957e2685baccc3764b4f0f2'), ObjectId('6957e2685baccc3764b4f0f3')], acknowledged=True)

In [5]:
# Query to display all students
for data in collection.find():
    print(data)

{'_id': ObjectId('6957e2685baccc3764b4f0f0'), 'name': 'Alice', 'age': 25, 'subject': ['maths', 'science']}
{'_id': ObjectId('6957e2685baccc3764b4f0f1'), 'name': 'Alice', 'age': 25, 'subjects': ['Math', 'science']}
{'_id': ObjectId('6957e2685baccc3764b4f0f2'), 'name': 'Ram', 'age': 18, 'subjects': ['Math', 'Science']}
{'_id': ObjectId('6957e2685baccc3764b4f0f3'), 'name': 'Shyam', 'age': 27, 'subjects': ['Math', 'Science']}

In [6]:
#query to display conditional results
for data in collection.find({"age":{"$gt":20}}):
    print(data)

{'_id': ObjectId('6957e2685baccc3764b4f0f0'), 'name': 'Alice', 'age': 25, 'subject': ['maths', 'science']}
{'_id': ObjectId('6957e2685baccc3764b4f0f1'), 'name': 'Alice', 'age': 25, 'subjects': ['Math', 'science']}
{'_id': ObjectId('6957e2685baccc3764b4f0f3'), 'name': 'Shyam', 'age': 27, 'subjects': ['Math', 'Science']}

In [7]:
print(db.list_collection_names())

collection.drop()

print(db.list_collection_names())

['students']
[]

In [8]:
print(client.list_database_names())
client.drop_database("school")
print(client.list_database_names())

['admin', 'config', 'local']
['admin', 'config', 'local']

In [9]:
import requests
from pprint import pprint

In [10]:
#example api
url="https://jsonplaceholder.typicode.com/posts/1"
response=requests.get(url)
# print(response)
# print(response.status_code)
if response.status_code==200:
    data=response.json()
    pprint(data)
else:
    print("error")

{'body': 'quia et suscipit\n'
         'suscipit recusandae consequuntur expedita et cum\n'
         'reprehenderit molestiae ut ut quas totam\n'
         'nostrum rerum est autem sunt rem eveniet architecto',
 'id': 1,
 'title': 'sunt aut facere repellat provident occaecati excepturi optio '
          'reprehenderit',
 'userId': 1}