In [1]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017")

In [2]:
db=client["school"]
collection=db["students"]
#insert a single document
student={"name":"Alice","age":25,"subject":["maths","science"]}
collection.insert_one(student)
print(client.list_database_names())

['admin', 'config', 'local', 'school']

In [3]:
#query to display conditional results
for data in collection.find({"age":{"gt":20}}):
    print(data)

In [4]:
print(client.list_database_name())
client.drop_database("school")
print(client.list_database_names())

TypeError: 'Database' object is not callable

In [ ]:
import requests
from pprint import pprint

In [ ]:
#example api
url="https://jsonplaceholder.typicode.com/posts/1"
response=requests.get(url)
# print(response)
# print(response.status_code)
if response.status_code==200:
    data=response.json()
    pprint(data)
else:
    print("error")